/* селектор {
    свойствоЖ значение;
    свойствоЖ значение;
    свойствоЖ значение;
} */
p::first-line{
    color: red;
}

p::first-letter {
    color: blue;
    font-size: 3rem;
    font-weight: 600;
}

p::before {
    content: "+";
    color: red;
    width: 10px;
    height: 10px;
    background-color: aquamarine;
    border-radius: 999px;
    margin-right: 20px;
    background-image: url();
    
}

p::after {
    content: "+";
    color: blue;
    

}
.lorem ::after {

}
.famili-list li::marker { color: green;}
a {text-decoration: none;}